.events{
  /* padding-top: 2em; */
}
.event {
  color: #fff;
  padding: 2em 4em;
}

.event_title {
  font-size: 1.2rem;
  margin-bottom: 5px;;
}

.event_description {
  font-size: .8rem;
  margin-top: 0;
}

.event:hover {
  background: #606060;
}
/******************** EVENT DETAILS *******************/
.event_details {
  display: flex;
  flex-direction: row;
}

.event_date {
  flex-grow: 5;
  font-size: 0.8rem;
}

/******************** EVENT BUTTONS *******************/
.event_add {
  background: #ffffff;
  color: #dc3545;
  text-align: center;
  padding: 1em 2em;
  border-radius: 10px;
  margin: 0 1em;
  font-size: .8rem;
}

.event_add:hover {
  cursor: pointer;
  color: white;
  background: #dc3545;
}

.event_edit, .event_delete {
  background: #dc3545;
  flex-grow: 1;
  text-align: center;
  padding: 1.5em;
  margin-left:2em;
  font-size: .6rem;
  cursor: pointer;
  border-radius: 1em;
}

.event_edit:hover, .event_delete:hover {
  color: #dc3545;
  background: #ffffff;
}

/******************** EVENT TIME ICON *******************/
.fa-plus {
  margin-right: 1em;
}

.fa-calendar-alt{
  margin-right: 2em;
}
