/* ************************* GLOBAL *****************************/
html{
  background: #292929;
}
main {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin:5em 5em 0 5em;
}

.cat_background{
  background: #424242;;
}



/* *************************BUTTON STYLING *****************************/
.side_nav {
  list-style-type: none;
  padding-left: 0;
  /* z-index: 1; */
}

.side_nav > li {
  padding:1em 2em;
  text-align: center;
}

.active {
  background: #dc3545;
}
.inactive {
  background: #da6d77;
}

li:hover {
  background: #dc3545;
  cursor: pointer;
}

a {
  text-decoration: none;
  color:#fff;
}
